* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: "Roboto", sans-serif, helvetica;
    background-color: #202020;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #121212;
    height: 60px;
    position: fixed;
    z-index: 9;
}

hr {
    border: none;
    height: 2px;
    background-color: #121212;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    transition: 0.4s;
}

.nav a:hover {
    color: red;
    font-weight: bold;
    font-size: 31px;
}

.main {
    display: flex;
    background-color: #202020;
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.main h1 {
    color: red;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.texto-main {
    width: 100%;
    max-width: 700px;
}

.daniel {
    width: 400px;
    height: auto;
    border-radius: 16px;
}

.sec-1 {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #202020;
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
}

.sec-1 h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #ff0000;
}

.sec-1 p {
    margin-bottom: 15px;
    font-size: 16px;
}


.linguagens {
    width: 120px;
    margin-right: 20px;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.linguagens:hover {
    transform: scale(1.1);
}

.sec-2 {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    margin: 40px 0;
}

.sec-2 h1 {
    color: red;
    text-align: center;
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    font-weight: bold;
    z-index: 1;
}


.area-item-1 {
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    font-weight: bold;
    align-items: center;
    text-align: center;
    padding: 25px;
    margin: 20px;
    border: black;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.4s;
}

.area-item-1:hover {
    transform: scale(1.05);
}

.area-item-1 h1 {
    color: #ff0000;
    font-size: 30px;
}

.area-item-2 {
    background-color: rgb(44, 44, 44);
    align-items: center;
    text-align: center;
    padding: 25px;
    margin: 20px;
    border: black;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.area-item-3 {
    background-color: rgb(44, 44, 44);
    align-items: center;
    text-align: center;
    padding: 25px;
    margin: 20px;
    border: black;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.img {
    width: 100%;
    border-radius: 6px;
}

.img2 {
    width: 70%;
    border-radius: 8px;
}

.sec-3 {
    text-align: center;
    color: white;
    padding: 40px 20px;
}

.contact-card {
    margin: 30px auto;
    max-width: 500px;
    background-color: #121212;
    border-radius: 12px;
    padding: 25px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 15px;
    border-bottom: 1px solid #333;

    transition: transform 0.3s ease;
}

.contact-item a {
    text-decoration: none;
    font-size: 20;
    color: white;
    transition: 0.4s;
}


.contact-item:last-child {
    border-bottom: none;
}

.contact-item img {
    width: 30px;
}

.contact-item p {
    font-size: 16px;
}

.contact-item:hover {
    transform: scale(1.05);
}

.contact-item a:hover {
    color: rgb(0, 47, 255);
    font-size: 18px;
}

@media (max-width: 1200px) {
    .daniel {
        width: 330px;
    }

    .texto-main{
        width: 85%;
        font-size: 20px;
    }

    .area-item-1{ 
        margin: 35px;
        padding: 25px;
    }

    .area-item-2{ 
        margin: 35px;
        padding: 25px;
    }

    .area-item-3{ 
        margin: 35px;
        padding: 25px;
    }
}

@media (max-width: 1100px) {
    .daniel {
        width: 290px;
    }

    .text-main {
        font-size: 15px;
        width: 50%;
    }
}

@media (max-width: 1050px) {
    .daniel {
        width: 270px;
        margin-right: 25px;
    }

    .text-main {
        font-size: 13px;
        width: 45%;
    }
    
    .sec-1 {
        margin: 5px 80px;
    }

    .sec-1 h1 {
        font-size: 30px;
        margin-bottom: 08px;
        color: #ff0000;
    }

    .sec-1 p {
        margin-bottom: 12px;
        font-size: 13px;
    }

    .linguagens {
        width: 100px;
        margin-right: 20px;
        margin-top: 10px;
        transition: transform 0.3s ease;
    }        

    .area-item-1{ 
        margin: 25px;
        padding: 15px;
    }

    .area-item-2{ 
        margin: 25px;
        padding: 15px;
    }

    .area-item-3{ 
        margin: 25px;
        padding: 15px;
    }        

@media (max-width: 820px) {
    .nav a{
        font-size: 26px;
    }
    .nav a:hover {
        font-size: 28px;
    }    
    .main {
        flex-direction: column;
    }

    .sec-1 {
        margin: 5px 20px;
    }

    .sec-1 h1 {
        font-size: 30px;
        margin-bottom: 08px;
        color: #ff0000;
    }

    .sec-1 p {
        margin-bottom: 12px;
        font-size: 13px;
    }

    .linguagens {
        width: 100px;
        margin-right: 20px;
        margin-top: 10px;
        transition: transform 0.3s ease;
    }        
}

}

@media (max-width: 700px) {
    .nav a{
        font-size: 22px;
    }
    .nav a:hover {
        font-size: 23px;
    }
    .main {
        flex-direction: column;
    }

    .sec-1 {
        margin: 5px 20px;
    }

    .sec-1 h1 {
        font-size: 30px;
        margin-bottom: 08px;
        color: #ff0000;
    }

    .sec-1 p {
        margin-bottom: 12px;
        font-size: 13px;
    }

    .linguagens {
        width: 100px;
        margin-right: 20px;
        margin-top: 10px;
        transition: transform 0.3s ease;
    }    

    .area-item-1 p{
        font-size: 12px;
    }

    .area-item-1 h1 {
        font-size: 21px;
    }

    .area-item-1 img {
        width: 85%;
    }
}

@media (max-width: 650px) {
    .daniel {
        width: 235px;
    }
    
    .linguagens {
        width: 80px;
    }    
    .container {
        grid-template-columns: 1fr;
    }
        .area-item-1{ 
        margin: 25px;
        padding: 15px;
    }

    .area-item-2{ 
        margin: 25px;
        padding: 15px;
    }

    .area-item-3{ 
        margin: 25px;
        padding: 15px;
    } 

}

@media (max-width: 550px) {
    .daniel {
        width: 230px;
    }
}

@media (max-width: 500px) {
    .daniel {
        width: 215px;
        margin-top: 30px;
    }
}

@media (max-width: 450px) {

    .daniel {
        width: 200px
    }

    .nav a{
        font-size: 17px;
    }

    .nav a:hover {
        font-size: 19px;
    }

    .texto-main p {
        font-size: 14px;
    }

    .daniel {
        width: 220px;
    }

    .texto-main h1 {
        font-size: 22px;
    }

    .linguagens {
        width: 67px;
    }

    .sec-1 {
        margin: 12px 25px;
    }

    .sec-1 h1 {
        font-size: 25px;
        margin-bottom: 08px;
        color: #ff0000;
    }

    .sec-1 p {
        margin-bottom: 12px;
        font-size: 11px;
    }
}
